<h2>{{question.ask}}</h2>
<h4><em>Submitted by: {{question.author}}</em></h4>
<br>
<p>{{question.notes}}</p>

<h3>Answers: </h3>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>
