<h1>About Code-Help</h1>

<p>A web app for users to submit technical or coding questions and for others to jump in with answers.</p>

<p>Users can submit questions through Code-Help and also answer other users' questions. All questions can be found on the home page. Simply click on the question to learn more or view other people's answers to that question.</p>
