<div class="container-fluid">
  <header class="jumbotron">
    <h1>Code-Help</h1>
  </header>

    <div class="row">
      <div class="col-sm-3">
        <nav class="nav navbar">
          <div class="nav-list">
            <ul id="navbar-ul">
              <li class="nav-choice">{{#link-to 'index'}}Home{{/link-to}}</li>
              <li class="nav-choice">{{#link-to 'about'}}About{{/link-to}}</li>
              <li class="nav-choice">{{#link-to 'contact'}}Contact{{/link-to}}</li>
              <li class="nav-choice">{{#link-to 'new-question'}}Post Question{{/link-to}}</li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-sm-9">
        <div id="main-content">
          {{outlet}}
        </div>
      </div>
    </div>

</div>
