<h3>List of Questions: </h3>

<ul>
  {{#each model.questions as |question|}}
    {{question-preview question=question}}
  {{/each}}
</ul>

<h3>List of Answers: </h3>
<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.solution}}<br><em> -posted by: {{answer.author}}</em></li>
  {{/each}}
</ul>
